<input type="text" placeholder="User Name" name="userName">
<input type="text" placeholder="Email" name="userEmail">
<input type="password" placeholder="Password" name="password">
<button type="submit">REGISTER</button>